
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MyComicsWorld</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=""><a routerLink="/home" routerLinkActive="active">Home</a></li>
       <li> <a routerLink="/characters" routerLinkActive="active">Characters</a></li>
      <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Characters<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li *ngFor="let result of results "><a href="#">{{result.title}}</a></li>
         
        </ul>
      </li> -->
      <li> <a routerLink="/comics" routerLinkActive="active">Comics</a></li>
    </ul>
    <!-- <ul class="nav navbar-nav navbar-right">
      <li><a href="#" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    
    </ul>-->
  </div> 
</nav>
<router-outlet></router-outlet>
   
 <!--  <span *ngFor="let result of results " >
    <img src='{{result.thumbnail.path}}/portrait_fantastic.jpg' >
  </span> -->

</body>
</html>

